# Template for mmpbsa in Galaxy
#  
&general
startframe={{ allparams.startframe }}, endframe={{ allparams.endframe }}, interval={{ allparams.interval }},
verbose={{ allparams.verbose }}, keep_files={{ allparams.keep_files }}, strip_mask={{ allparams.strip_mask }},
/
{% if calcdetails.calculation.calctype == 'gb' %}
&gb
igb={{ calcdetails.calculation.igb }}, saltcon={{ calcdetails.calculation.saltcon }}
/
{% endif %}
{% if calcdetails.calculation.calctype == 'pb' %}
&pb
istrng={{ calcdetails.calculation.istrng }}, fillratio={{ calcdetails.calculation.fillratio }}, inp={{ calcdetails.calculation.inp }},radiopt={{ calcdetails.calculation.radiopt }}
/
{% endif %}
{% if calcdetails.decomposition.decomposition == 'yes' %}
&decomp
csv_format={{ calcdetails.decomposition.csv_format }}, dec_verbose={{ calcdetails.decomposition.dec_verbose }}, idecomp={{ calcdetails.decomposition.idecomp }}, 
/
{% endif %}

